.about {
  padding-left: 20px;
  padding-right: 20px;
  // background-image: url("https://res.cloudinary.com/dciypbwrh/image/upload/v1575287831/tiles_zkccjy.webp");
  background-color: #1a1a1a;
  background-size: cover;
  color: white;
//   height: 105vh;
  padding-top: 14vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: center;
  &-sections {
    display: flex;
    // padding-top: 2vh;
    justify-content: space-evenly;
    width: 100%;
    &-box {
      h3 {
        color: #2d8080;
      }
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      padding: 4vw;
    }
  }
  &-image {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50%;
    flex-wrap: wrap;
    &-card {
      img {
        height: 75%;
        width: 15vw;
      }
    }
  }
}

// .goHomeLogo{
//   height: 6rem;
//     width: 6rem;
//     position: fixed;
//     background-color: #1a1a1aad;
//     box-shadow: rgba(0, 0, 0, 0.24) 0px -2px 24px 0px, rgba(0, 0, 0, 0.12) 0px 2px 24px 0px;
//     top: 80%;
//     left: 92%;
//     display: flex;
//     -webkit-box-pack: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     align-items: center;
//     color: white;
//     font-size: 2.5rem;
//     cursor: pointer;
//     border-radius: 100%;
//   &-image{
//       height: 100%;
//       padding-top: 11px;
//   }
// }


@media (max-width: 885px){
  h1{
    text-align: center;
  }
  .about-sections{
    flex-direction: column;
    align-items: center;
    &-box{
      width: 75%;
      // font-size: 1.2rem;
    }
  }
  .about-image-card img {
    width: 25vw;
  }
}

@media (max-width: 445px){
  .about-image-card img {
    width: 30vw;
  }
}