body {
  font-family: Helvetica;
}

.spa-theme{
  width: 100%;
}

#root {
  // height: 100vh;
  display: flex;
  align-items: center;
}

@import './navbar.scss';
@import './header.scss';
@import './about.scss';
@import './techImage.scss';
@import './tech.scss';
@import './contact.scss';