body {
  font-family: 'Quicksand', sans-serif;}

.spa-theme{
  width: 100%;
}

#root {
  // height: 100vh;
  display: flex;
  align-items: center;

}

@import './navbar.scss';
@import './header.scss';
@import './about.scss';
@import './techImage.scss';
@import './development.scss';
@import './contact.scss';
@import './footer.scss';
@import './button.scss';