.contact {
  // background-image: url("https://res.cloudinary.com/dciypbwrh/image/upload/v1575287831/tiles_zkccjy.webp");
  background-color: lightblue;
  background-size: cover;
  height: 100vh;
  padding-top: 12vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
