.development {
  padding-left: 20px;
  padding-right: 20px;
  // background-image: url("https://res.cloudinary.com/dciypbwrh/image/upload/v1575287831/tiles_zkccjy.webp");
  background-color: #c5c3c3;
  background-size: cover;
  // height: 93vh;
  padding-top: 15vh;
  // display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &-skills{
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  &-mobileSkills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: 15rem;
    // gap: 1rem;
    place-items: center;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  .slick-prev {
    left: -10px;
    z-index: 1;
  }
  .slick-prev:before {
    font-size: 30px;
  }
  .slick-next {
    right: -10px;
    z-index: 1;
  }
  .slick-next:before {
    font-size: 30px;
  }
}

.techImages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.project {
  padding-top: 6vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: 25rem;
  gap: 2rem;
  place-items: center;

  &-card {
    width: 25rem;
    height: 25rem;

    img {
      width: 100%;
      height: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(208, 208, 208);
      border-image: initial;
      transition: 0.5s ease;
      // border-radius: 0.5rem;
    }
    &-hover {
      transition: 0.5s ease;
      color: white;
      margin-top: -25rem;
      opacity: 0;
      position: absolute;
      text-align: center;
      width: 25rem;
      height: 25rem;
      &-text {
        padding-top: 34%;
      }
    }
  }
  &-card:hover .project-card-hover {
    background-color: rgba(2, 1, 1, 0.671);
    opacity: 1;
  }
  &-card:hover img {
    opacity: 0.5;
  }
}

@media (max-width: 885px){
  .project {
    &-card img {
      width: none;
    }
    &-card{
      width: 23rem;
      &-hover{
        width: 23rem;
      }
    }
  }
}

@media (max-width: 415px){
  .project{
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    place-items: unset;
    &-card{
      width: 21rem;
      &-hover{
        width: 21rem;
      }
    }
  }
}
