.navbar{ 
    position: fixed;
    width: 100%;
    // overflow: hidden;
    // top: 0;
    // margin: 0;
    // background-color: transparent;
    // display: flex;
    // z-index: 1000;
    background-color: transparent;
    // align-content: center;
    justify-content: flex-end;
    &-logo{
        height: 115px;
        color: white;
        &-image{
            height: 64%;
            padding-top: 11px;
        }
    }
}

.navbar-menu {
    list-style: none; 
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}


.nav-item {
    color: #ffffff;
    text-align: center;
    padding: 0px 2rem;
    text-decoration: none;
    font-size: 23px;
        a{
            text-decoration: none;
            color: inherit;
        }
    &:hover {
        // border-bottom: 2px solid #c4096e;
        text-decoration: none;
        color: #2d8080;

    }
    &-active{
        color: #2d8080;
        text-align: center;
        padding: 0px 2rem;
        text-decoration: none;
        font-size: 23px;

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

.burger-menu-image{
    height: 40px;
}

@media (max-width: 780px){
    .navbar-menu {
        flex-direction: column;
    }
    .nav-item{
        font-size: 40px;
    }
    .nav-item-active{
        font-size: 40px;
    }
}