.tech {
  // background-image: url("https://res.cloudinary.com/dciypbwrh/image/upload/v1575287831/tiles_zkccjy.webp");
  background-color: #e5e2e2;
  background-size: cover;
  height: 93vh;
  padding-top: 12vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.techImages {
    display: flex;
    flex-direction: row;
}
